In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.common.exceptions import *
from selenium.webdriver.common.action_chains import ActionChains
import time
import re
import seaborn as sns
import glob
from sklearn.utils import shuffle

In [2]:
driver = webdriver.Chrome(r"S:\chromedriver_win32\chromedriver.exe")

# Cars24

In [3]:
def url():
    url = input("Please enter the url you want to go: ")
    driver.get(url)
    close = driver.find_element_by_xpath("//div[@class='float-right TBxAN']").click()
    time.sleep(2)
    usedcar = driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[3]").click()

In [4]:
url()

Please enter the url you want to go: https://www.cars24.com/

In [5]:
def scroll(driver, timeout):
    scroll_pause_time = timeout

    
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        time.sleep(scroll_pause_time)

        
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            
            break
        last_height = new_height
        
    driver.execute_script("scrollBy(0,-500000);")

In [6]:
scroll(driver, 2)

In [7]:
Name = []
Model = []
Owner = []
Kilo = []
Fuel = []
Trans = []
Year = []
Price = []

In [8]:
def Cars24():
    try:
        name = driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
        for i in name:
            Name.append(i.text)
        trans = driver.find_elements_by_xpath("//p[@class='cvakB']/span")
        for j in trans:
            Trans.append(j.text)
        model = driver.find_elements_by_xpath("//p[@class='cvakB']")
        for k in model:
            Model.append(k.text)
        kilo = driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]")
        for l in kilo:
            Kilo.append(l.text)
        owner = driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]")
        for m in owner:
            Owner.append(m.text)
        fuel = driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]")
        for n in fuel:
            Fuel.append(n.text)
        year = driver.find_elements_by_xpath("//h2[@class='_3FpCg']")
        for o in year:
            Year.append(o.text)
        price = driver.find_elements_by_xpath("//div[@class='_7udZZ']")
        for p in price:
            Price.append(p.text)
    except:
        pass

In [9]:
Cars24()

In [10]:
driver.get("https://www.cars24.com/")
driver.find_element_by_xpath("//p[@class='_1OR7d']").click()
time.sleep(3)
driver.find_element_by_xpath("//li[@data-title='Mumbai']").click()
time.sleep(2)
driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[2]").click()

In [11]:
scroll(driver, 2)

In [12]:
Cars24()

In [13]:
driver.get("https://www.cars24.com/")
driver.find_element_by_xpath("//p[@class='_1OR7d']").click()
time.sleep(3)
driver.find_element_by_xpath("//li[@data-title='Kolkata']").click()
time.sleep(2)
driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[2]").click()

In [14]:
scroll(driver, 2)

In [15]:
Cars24()

In [16]:
driver.get("https://www.cars24.com/")
driver.find_element_by_xpath("//p[@class='_1OR7d']").click()
time.sleep(3)
driver.find_element_by_xpath("//li[@data-title='Chennai']").click()
time.sleep(2)
driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[2]").click()

In [17]:
scroll(driver, 2)

In [18]:
Cars24()

In [19]:
driver.get("https://www.cars24.com/")
driver.find_element_by_xpath("//p[@class='_1OR7d']").click()
time.sleep(3)
driver.find_element_by_xpath("//li[@data-title='Hyderabad']").click()
time.sleep(2)
driver.find_element_by_xpath("//ul[@class='float-right _1yq3e']/li[2]").click()

In [20]:
scroll(driver, 2)

In [21]:
Cars24()

In [22]:
Clean_name = []
for i in Name:
    Clean_name.append(i[4:])

In [24]:
Names = []
Clean_Name = []
for i in Clean_name:
    Names.append(i.split())
for j in Names:
    Clean_Name.append(j[0])

In [26]:
Clean_Variant = []
for i in Model:
    Clean_Variant.append(i.replace('Manual','').replace('Automatic',''))

In [27]:
Clean_owner = []
for i in Owner:
    Clean_owner.append(i.replace('st Owner','').replace('nd Owner', '').replace('rd Owner','').replace('th Owner',''))

In [28]:
Clean_kilo = []
for i in Kilo:
    Clean_kilo.append(i.replace('km','').replace(',',''))

In [29]:
Clean_trans = []
for i in Trans:
    Clean_trans.append(i.replace(' ','NA'))

In [30]:
Clean_year = []
for i in Year:
    Clean_year.append(i[:4])

In [31]:
Clean_price = []
for i in Price:
    Clean_price.append(i.replace('₹','').replace(',',''))

In [32]:
Clean_model = []
models = []
for i in Clean_name:
    models.append(i.split())
for j in models:
    Clean_model.append(j[1])

In [33]:
data = {
    'Name':Clean_Name,
    'Model Name': Clean_model,
    'Variant':Clean_Variant,
    'Owner':Clean_owner,
    'Kilometer':Clean_kilo,
    'Fuel':Fuel,
    'Transmission':Clean_trans,
    'Year of Manufacture':Clean_year,
    'Price':Clean_price
}

In [34]:
Cars24 = pd.DataFrame.from_dict(data)

In [35]:
Cars24 = Cars24.replace(r'^\s*$', np.NaN, regex=True)

In [36]:
Cars24

,Name,Model Name,Variant,Owner,Kilometer,Fuel,Transmission,Year of Manufacture,Price
0,Maruti,Baleno,DELTA 1.2 K12,1,3920,Petrol,Manual,2020,659399
1,Maruti,IGNIS,SIGMA 1.2 K12,1,2206,Petrol,Manual,2020,525699
2,Maruti,S,VXI,1,3176,Petrol,NaN,2020,408499
3,Maruti,Swift,VDI,1,11019,Diesel,Manual,2013,378499
4,Tata,Nano,XT TWIST,1,26554,Petrol,Manual,2015,123499
...,...,...,...,...,...,...,...,...,...
4908,Hyundai,i10,MAGNA 1.2,1,74739,Petrol,Manual,2010,292899
4909,Honda,City,SV MT PETROL,1,71593,Petrol,Manual,2015,539199
4910,Maruti,Swift,VXI 1.2 BS IV,1,69673,Petrol,Manual,2016,531299
4911,Hyundai,i20,1.4 SX,1,57997,Diesel,Manual,2016,660699
4912,Maruti,Vitara,VDI AMT,1,40871,Diesel,Manual,2019,967199

In [37]:
Cars24.to_csv("Cars24data.csv", encoding='utf-8')

# OLX

In [38]:
def Url():
    url = input("Please enter the url you want to go: ")
    driver.get(url)
    item = input("Please enter the thing you want to search: ")
    search = driver.find_element_by_xpath("//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
    search.send_keys(item)
    driver.find_element_by_xpath("//div[@class='_3b3oR']").click()
    time.sleep(2)

In [39]:
Url()

Please enter the url you want to go: https://www.olx.in/
Please enter the thing you want to search: Cars

In [40]:
Link = []
Name = []
Model = []
Owner = []
Kilo = []
Fuel = []
Trans = []
Year = []
Price = []
Variant = []

In [41]:
class FullOlx:
    
    def LoadMore():
        try:
            for i in range(0,30):
                driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']").click()
                time.sleep(3)
            driver.execute_script("scrollBy(0,-500000);")
        except:
            pass
    
    def Links():
        try:
            link = driver.find_elements_by_xpath("//li[@class='EIR5N']/a")
            for j in link:
                Link.append(j.get_attribute('href'))
        except:
            pass
        
    def OlxScrape():
        for i in Link:
            try:
                driver.get(i)
                time.sleep(3)
                name = driver.find_element_by_xpath("//span[@data-aut-id='value_make']")
                Name.append(name.text)
                model = driver.find_element_by_xpath("//span[@data-aut-id='value_model']")
                Model.append(model.text)
                owner = driver.find_element_by_xpath("//span[@data-aut-id='value_first_owner']")
                Owner.append(owner.text)
                kilo = driver.find_element_by_xpath("//span[@data-aut-id='value_mileage']")
                Kilo.append(kilo.text)
                fuel = driver.find_element_by_xpath("//span[@data-aut-id='value_petrol']")
                Fuel.append(fuel.text)
                trans = driver.find_element_by_xpath("//span[@data-aut-id='value_transmission']")
                Trans.append(trans.text)
                year = driver.find_element_by_xpath("//span[@data-aut-id='value_year']")
                Year.append(year.text)
                price = driver.find_element_by_xpath("//section[@class='_2wMiF']/span[1]")
                Price.append(price.text)
                variant = driver.find_element_by_xpath("//span[@data-aut-id='value_variant']")
                Variant.append(variant.text)
            except:
                continue

In [42]:
Fo = FullOlx

In [43]:
Fo.LoadMore()

In [44]:
Fo.Links()

In [45]:
Fo.OlxScrape()

In [46]:
print(len(Name))
print(len(Model))
print(len(Owner))
print(len(Kilo))
print(len(Fuel))
print(len(Trans))
print(len(Year))
print(len(Price))
print(len(Variant))

431
430
412
412
411
406
406
406
399

In [47]:
Clean_Owner = []
for i in Owner:
    Clean_Owner.append(i.replace('st','').replace('nd','').replace('rd','').replace('th',''))

In [48]:
Clean_Kilo = []
for i in Kilo:
    Clean_Kilo.append(i.replace('km','').replace(',',''))

In [49]:
Clean_Price = []
for i in Price:
    Clean_Price.append(i.replace('₹','').replace(' ','').replace(',',''))

In [50]:
data = {
    'Name':Name,
    'Model Name': Model,
    'Variant':Variant,
    'Owner':Clean_Owner,
    'Kilometer':Clean_Kilo,
    'Fuel':Fuel,
    'Transmission':Trans,
    'Year of Manufacture':Year,
    'Price':Clean_Price
}

In [51]:
olx = pd.DataFrame.from_dict(data, orient='index').transpose()

In [52]:
olx.dropna(inplace=True)

In [54]:
olx.to_csv('olx.csv', encoding='utf-8')

In [55]:
path = r'S:\Data Science Projects\Flip Robo\Car Price Prediction' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [56]:
frame.drop('Unnamed: 0',1,inplace=True)

In [57]:
frame.to_csv('Dataset.csv', encoding='utf-8')