### Q1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from sklearn.utils import shuffle

### Task List

First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [2]:
driver = webdriver.Chrome('/Users/sumitsantra/Desktop/Chrome Driver/chromedriver')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search = driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Analyst')

In [5]:
loc = driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Bangalore')

In [6]:
button = driver.find_element_by_class_name('btn')
button.click()
time.sleep(10)

In [7]:
jobtitle = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [8]:
Job_Title = []
for i in jobtitle:
    Job_Title.append(i.text)

In [9]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [10]:
Company = []
for i in company:
    Company.append(i.text)

In [11]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
Experience = []
for i in experience:
    Experience.append(i.text)

In [12]:
salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
Salary = []
for i in salary:
    Salary.append(i.text)

In [13]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location = []
for i in location:
    Location.append(i.text)

In [14]:
posted = driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']")
Posted = []
for i in posted:
    Posted.append(i.text)

In [15]:
description = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
Description = []
for i in description:
    Description.append(i.text)

In [16]:
New = []
for i in Description:
    a = i.replace('\n',',')
    New.append(a)

In [17]:
Required = []
for i in Description:
    a = i.replace('\n', ',')
    Required.append(a)

In [18]:
Data_Analyst = {
    'Job Title':Job_Title,
    'Company Name':Company,
    'Experience':Experience,
    'Salary':Salary,
    'Location':Location,
    'Posted':Posted,
    'Decription':New
}

In [19]:
Data_Analyst_Bangalore = pd.DataFrame.from_dict(Data_Analyst, orient='index')

In [20]:
Data_Analyst_Bangalore

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Job Title,Data Scientist / Data Analyst -Business Analyst,Data Analyst,Hiring For Data Analyst/ MIS Reporting Analyst...,DA - Urgent Opening For Data Analyst BFSI Doma...,Data Analyst - Informatica MDM,Assistant Vice President - MIS & Reporting ( B...,Data Analyst,Data Analyst,Data Analyst,Data Analyst,Data Analyst,Data Analyst,Senior/Regular Business Analyst / Data Analyst,Data Analyst,Hiring For Data Analyst @ Flipkart on Contract,Senior Data Analyst,Data Analyst,Cybersecurity Data Analyst,Business Data Analyst - MIS & Reporting,Data Analyst / Business Analyst -
Company Name,Inflexion Analytix Private Limited,Applied Materials,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,Tata Consultancy Services Ltd.,Shell India Markets Private Limited,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,Myntra Designs Pvt. Ltd.,Myntra Designs Pvt. Ltd.,Myntra Designs Pvt. Ltd.,Myntra Designs Pvt. Ltd.,Myntra Designs Pvt. Ltd.,SA Tech Software (I) Pvt. Ltd.,Luxoft,Flipkart Internet Private Limited,Flipkart Internet Private Limited,Flipkart Internet Private Limited,IBM India Pvt. Limited,Huawei Technologies India Pvt Ltd,INTERTRUST GROUP,LatentView Analytics Private Limited
Experience,0-3 Yrs,7-10 Yrs,2-4 Yrs,4-9 Yrs,6-9 Yrs,12-18 Yrs,3-6 Yrs,3-6 Yrs,4-9 Yrs,4-8 Yrs,3-6 Yrs,1-3 Yrs,3-6 Yrs,1-3 Yrs,2-6 Yrs,2-5 Yrs,5-10 Yrs,5-8 Yrs,3-8 Yrs,1-5 Yrs
Salary,"3,50,000 - 4,50,000 PA.",Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed
Location,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Bangalore/Bengaluru,Bangalore/Bengaluru,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Bangalore/Bengaluru,"Mumbai, Bangalore/Bengaluru",Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,Bangalore/Bengaluru,"Mumbai, Bangalore/Bengaluru","Chennai, Bangalore/Bengaluru"
Posted,8 DAYS AGO,15 DAYS AGO,7 DAYS AGO,15 DAYS AGO,6 DAYS AGO,10 DAYS AGO,13 DAYS AGO,12 DAYS AGO,13 DAYS AGO,13 DAYS AGO,14 DAYS AGO,7 DAYS AGO,11 DAYS AGO,13 DAYS AGO,6 DAYS AGO,2 DAYS AGO,11 DAYS AGO,None,None,None
Decription,"Business Intelligence,Artificial Intelligence,...","Real Time Analysis,Data Management,Data Analys...","Business Intelligence Reporting,Excel Powerpoi...","Banking,Data Collection,Data Quality,Loan Orig...","Data Quality,Oracle SQL,Configuration,Web Tech...","Data Engineering,SQL Server,Data Visualization...","R,Excel,Data Analysis,Tableau,Data Analytics,S...","R,Excel,Data Analysis,Business Insights,Tablea...","Excel,Data Engineering,Data Analysis,Business ...","R,Excel,Data Analysis,Business Insights,Tablea...","R,Excel,Data visualization,Data Analysis,Busin...","analytical,Excel,analytics,Word,PowerPoint,con...","analytics,Agile Methodology,Retail,Data valida...","R,Hive,Excel,Big Data,Data Analysis,Tableau,Da...","Data Analysis,Advanced Excel,SQL,Power Bi,Repo...","Excel,Power Bi,Web Technologies,Data Analysis,...","Business Intelligence,Data Reconciliation,Scru...","Java,Cnn,Algorithms,Application Security,Big D...","SQL Server,Tableau,ETL,Spotfire,Data Engineeri...","Predictive Modeling,Data analyst,Business Anal..."

In [21]:
Data_Analyst_Bangalore = Data_Analyst_Bangalore.transpose()

In [22]:
Data_Analyst_Bangalore.index = Data_Analyst_Bangalore.index + 1

In [23]:
Top10DataAnalystJob = Data_Analyst_Bangalore[:10]

In [24]:
Top10DataAnalystJob.to_csv('Top_10_Data_Analyst_Jobs_at_Bangalore.csv', encoding='utf-8', header='Data Analyst Jobs Bangalore')

### Q3) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

### Task

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get. 5. Finally create a dataframe of the scraped data.

In [25]:
url='https://www.naukri.com/'
driver.get(url)

In [26]:
search = driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Scientist')

In [27]:
loc = driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Bangalore')

In [28]:
button = driver.find_element_by_class_name('btn')
button.click()
time.sleep(10)

In [29]:
jobtitle = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Job_Title = []
for i in jobtitle:
    Job_Title.append(i.text)

In [30]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company = []
for i in company:
    Company.append(i.text)

In [31]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
Experience = []
for i in experience:
    Experience.append(i.text)

In [32]:
salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
Salary = []
for i in salary:
    Salary.append(i.text)

In [33]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location = []
for i in location:
    Location.append(i.text)

In [34]:
posted = driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']")
Posted = []
for i in posted:
    Posted.append(i.text)

In [35]:
description = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
Description = []
for i in description:
    Description.append(i.text)

In [36]:
New = []
for i in Description:
    a = i.replace('\n',',')
    New.append(a)

In [37]:
Required = []
for i in Description:
    a = i.replace('\n', ',')
    Required.append(a)

In [38]:
Data_Scientist = {
    'Job Title':Job_Title,
    'Company Name':Company,
    'Experience':Experience,
    'Salary':Salary,
    'Location':Location,
    'Posted':Posted,
    'Decription':New
}

In [39]:
Data_Scientist_Bangalore = pd.DataFrame.from_dict(Data_Scientist, orient='index')

In [40]:
Data_Scientist_Bangalore = Data_Scientist_Bangalore.transpose()

In [41]:
Data_Scientist_Bangalore.index = Data_Scientist_Bangalore.index + 1

In [42]:
Top10DataScientistJob = Data_Scientist_Bangalore[:10]

In [43]:
Top10DataScientistJob.to_csv('Top_10_Data_Scientist_Jobs_at_Bangalore.csv', encoding='utf-8', header='Data Scientist Jobs Bangalore')

### 2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

In [44]:
url='https://www.naukri.com/'
driver.get(url)
time.sleep(2)

In [45]:
search = driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Scientist')

In [46]:
loc = driver.find_element_by_id('qsb-location-sugg')
loc.send_keys('Bangalore')

In [47]:
button = driver.find_element_by_class_name('btn')
button.click()
time.sleep(5)

In [48]:
link = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Link = []
for i in link:
    a = i.get_attribute('href')
    Link.append(a)

In [49]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company = []
for i in company:
    Company.append(i.text)

In [50]:
Description = []
for i in Link:
    driver.get(i)
    time.sleep(2)
    desc = driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
    for i in desc:
        Description.append(i.text)

In [51]:
Clean = []
for i in Description:
    Clean.append(i.replace('\n', ' '))

In [52]:
Top10JobDescription = {
    'Company Name':Company,
    'Job Description':Clean
}

In [53]:
Top10JobDescription = pd.DataFrame.from_dict(Top10JobDescription, orient='index')

In [54]:
Top10JobDescription = Top10JobDescription.transpose()

In [55]:
Top10JobDescription = Top10JobDescription[:10]

In [56]:
Top10JobDescription.index = Top10JobDescription.index + 1

In [57]:
Top10JobDescription.to_csv("Top_10_Job_Description.csv", encoding='utf-8', header='Top 10 Job Description')

### Q3) In this question you have to scrape data using the filters available on the webpage as shown below:

### Task

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [58]:
driver.get('https://www.naukri.com/')

In [59]:
search = driver.find_element_by_id('qsb-keyword-sugg')
search.send_keys('Data Scientist')

In [60]:
button = driver.find_element_by_class_name('btn')
button.click()
time.sleep(5)

In [61]:
location = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
location[1].click()
time.sleep(2)

In [62]:
salary = driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
salary[5].click()
time.sleep(2)

In [63]:
jobtitle = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Job_Title = []
for i in jobtitle:
    Job_Title.append(i.text)

In [64]:
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company = []
for i in company:
    Company.append(i.text)

In [65]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
Experience = []
for i in experience:
    Experience.append(i.text)

In [66]:
salary = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
Salary = []
for i in salary:
    Salary.append(i.text)

In [67]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
Location = []
for i in location:
    Location.append(i.text)

In [68]:
posted = driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']")
Posted = []
for i in posted:
    Posted.append(i.text)

In [69]:
Top10ByFilter = {
    'Company Name':Company,
    'Experience Required':Experience,
    'Salary':Salary,
    'Location':Location,
    'Posted':Posted
}

In [70]:
Top10ComapniesInDelhiNCR = pd.DataFrame.from_dict(Top10ByFilter, orient='index')

In [71]:
Top10ComapniesInDelhiNCR

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Company Name,Inflexion Analytix Private Limited,Wipro,Ravgins International Pvt. Ltd.,NEC CORPORATION INDIA PRIVATE LIMITED,Mobikwik,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,Optum Global Solutions (India) Private Limited,NEC CORPORATION INDIA PRIVATE LIMITED,IBM India Pvt. Limited,Cloudstrats Technologies Private Limited,Country Veggie,Zenatix Solutions Private Limited,iNICU,BlackBuck,Delhivery,Sentieo,Mahajan Imaging,Mahajan Imaging,VBPO India Pvt Ltd.
Experience Required,0-3 Yrs,2-5 Yrs,3-5 Yrs,3-7 Yrs,3-5 Yrs,3-6 Yrs,3-6 Yrs,3-5 Yrs,3-8 Yrs,4-9 Yrs,5-8 Yrs,1-3 Yrs,5-10 Yrs,1-5 Yrs,3-7 Yrs,1-3 Yrs,2-7 Yrs,2-6 Yrs,2-6 Yrs,3-6 Yrs
Salary,"3,50,000 - 4,50,000 PA.","3,50,000 - 6,50,000 PA.","5,00,000 - 6,00,000 PA.","50,000 - 3,00,000 PA.",Not disclosed,"5,00,000 - 9,00,000 PA.","5,00,000 - 8,00,000 PA.",Not disclosed,"4,00,000 - 9,00,000 PA.",Not disclosed,Not disclosed,Not disclosed,"5,00,000 - 14,00,000 PA.",Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed,Not disclosed
Location,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...","Noida, Gurgaon/Gurugram","Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...","Noida, Bangalore/Bengaluru","New Delhi, Gurgaon/Gurugram, Delhi / NCR","Gurgaon/Gurugram, Delhi / NCR","Gurgaon/Gurugram, Delhi / NCR",Noida,"Noida, Bangalore/Bengaluru","Noida, Hyderabad/Secunderabad, Bangalore/Benga...","Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...","Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Gurgaon/Gurugram,Delhi,"Gurgaon/Gurugram, Bangalore/Bengaluru",Gurgaon/Gurugram,Delhi,New Delhi,Delhi,"Mumbai, Delhi / NCR"
Posted,8 DAYS AGO,4 DAYS AGO,14 DAYS AGO,12 DAYS AGO,10 DAYS AGO,10 DAYS AGO,6 DAYS AGO,14 DAYS AGO,18 DAYS AGO,15 DAYS AGO,30+ DAYS AGO,21 DAYS AGO,30+ DAYS AGO,30+ DAYS AGO,30+ DAYS AGO,30+ DAYS AGO,30+ DAYS AGO,30+ DAYS AGO,12 DAYS AGO,None

In [72]:
Top10ComapniesInDelhiNCR = Top10ComapniesInDelhiNCR.transpose()

In [73]:
Top10ComapniesInDelhiNCR.index = Top10ComapniesInDelhiNCR.index + 1

In [74]:
Top10ComapniesInDelhiNCR = Top10ComapniesInDelhiNCR[:10]

In [75]:
Top10ComapniesInDelhiNCR.to_csv('Top_10_Companies_In_Delhi_NCR_with_3-6L_Package.csv', encoding='utf-8', header='Top 10 Companies in Delhi/NCR with 3-6L Package.')

### Q4)  Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

### Task

1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then scrape the data for the first 10 jobs results you get in the above shown page.
4. Finally create a dataframe of the scraped data.

In [76]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [77]:
btn = driver.find_element_by_xpath("//button[@class='d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton']")
btn.click()

## please use email as : nashvinayamart@gmail.com
## Please use Password as : Nash@123456

In [78]:
email = driver.find_element_by_xpath("//input[@id='userEmail']")
password = driver.find_element_by_xpath("//input[@id='userPassword']")
Email = input("Please Enter Your Email Address: ")
Password = input("Please Enter Your Password: ")
email.send_keys(Email)
password.send_keys(Password)

Please Enter Your Email Address: nashvinayamart@gmail.com
Please Enter Your Password: Nash@123456

In [79]:
btn = driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
btn.click()
time.sleep(5)

## Please use any Job role and location according to you

In [80]:
job = driver.find_element_by_xpath("//input[@id='sc.keyword']")
job.clear()
Job = input("Enter Your Preferred Job Search: ")
job.send_keys(Job)
loc = driver.find_element_by_xpath("//input[@id='sc.location']")
Loc = input("Please Enter Job Location: ")
loc.send_keys(Keys.COMMAND + 'a')
loc.send_keys(Loc)

Enter Your Preferred Job Search: Data Scientist
Please Enter Job Location: Noida

In [81]:
btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
btn.click()
time.sleep(5)

In [82]:
companyname = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a/span")
CompanyName = []
for i in companyname:
    CompanyName.append(i.text)

In [83]:
job = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span")
Job = []
for i in job:
    Job.append(i.text)

In [84]:
loc = driver.find_elements_by_xpath("//div[@class='d-flex flex-wrap css-11d3uq0 e1rrn5ka2']/span")
Loc = []
for i in loc:
    Loc.append(i.text)

In [85]:
rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
Rating = []
for i in rating:
    Rating.append(i.text)

In [86]:
posted = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
Posted = []
for i in posted:
    Posted.append(i.text)

In [87]:
salary = driver.find_elements_by_xpath("//span[@class='css-1imh2hq e1wijj242']")
Salary = []
for i in salary:
    Salary.append(i.text)

In [88]:
data = {
    'Comapny Name': CompanyName,
    'Job Role': Job,
    'Location':Location,
    'Company Rating': Rating,
    'Job Posted On': Posted,
    'Salary': Salary
}

In [89]:
Glassdoor = pd.DataFrame.from_dict(data, orient='index')

In [90]:
Glassdoor = Glassdoor.transpose()

In [91]:
Glassdoor.index = Glassdoor.index + 1

In [92]:
GlassdoorTop10 = Glassdoor[:10]

In [93]:
GlassdoorTop10.to_csv('GlassdoorTop10.csv', encoding='utf-8', header='Glassdoor Top 10 Jobs')

### Q5) Write a python program to scrape the salary data for Data Scientist designation in Noida location.

### Task

1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 
2. Enter “Data Scientist” in Job title field and “Noida” in location field. 3. Click the search button.
4. After that you will land on the below page
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [94]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [95]:
job = driver.find_element_by_xpath("//input[@id='KeywordSearch']")
job.send_keys("Data Scientist")

In [96]:
loc = driver.find_element_by_xpath("//input[@id='LocationSearch']")
loc.clear()
loc.send_keys('Noida')

In [97]:
btn = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
btn.click()
time.sleep(5)

In [98]:
company=driver.find_elements_by_xpath("//div[@class='col-md-6']/div[1]/div[2]/p[2]")
Company=[]
for i in company:
    Company.append(i.text)

In [99]:
min = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
Min = []
for i in min:
    Min.append(i.text)

In [100]:
max = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
Max = []
for i in max:
    Max.append(i.text)

In [101]:
average = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
Average = []
for i in average:
    Average.append(i.text)

In [102]:
img = driver.find_elements_by_xpath("//div[@class='undefined mr-sm']/a/span/img")
Img = []
for i in img:
    Img.append(i.get_attribute('src'))

In [103]:
data = {
    'Company Name':Company,
    'Minimum Salary': Min,
    'Maximum Salary': Max,
    'Average Salary': Average,
    'Company Image Url': Img
}

In [104]:
Top10Salaries = pd.DataFrame.from_dict(data, orient='index')
Top10Salaries = Top10Salaries.transpose()
Top10Salaries = Top10Salaries[:10]
Top10Salaries.index = Top10Salaries.index+1

In [105]:
Top10Salaries.to_csv("Top10Salaties.csv", encoding='utf-8', header='Top 10 Comapnies with Salaries')

### Q6) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

### Task

1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps: 1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [106]:
driver.get("https://www.flipkart.com/")

In [107]:
close = driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
close.click()

In [108]:
def Search():
    driver.get("https://www.flipkart.com/")
    search = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    search.send_keys(Keys.COMMAND + 'a' + Keys.DELETE)
    Search = input("Please Enter the Product Name: ")
    search.send_keys(Search)
    btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
    btn.click()

In [109]:
def finding():
    num = int(input("Please enter the number of page you want to scrape: "))
    num = num + 1
    for i in range(1,num):
        driver.get(url+"&page={}".format(i))
        link = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
        for j in link:
            Link.append(j.get_attribute('href'))

In [110]:
def Iterate():
    for k in Link:
            driver.get(k)
            time.sleep(5)
            company = driver.find_elements_by_xpath("//h1[@class='yhB1nd']/span[1]")
            description = driver.find_elements_by_xpath("//h1[@class='yhB1nd']/span[2]")
            price = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]")
            discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")
            rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _3uSWvT']")
            for l in company:
                Company.append(l.text)
            for m in description:
                Description.append(m.text)
            for n in price:
                Price.append(n.text)
            for o in discount:
                Discount.append(o.text)
            for p in rating:
                Rating.append(p.text)

In [111]:
Company = []
Description = []
Rating = []
Price = []
Discount = []
Link = []

In [112]:
Search()

Please Enter the Product Name: Sunglasses

In [113]:
url = 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [114]:
finding()

Please enter the number of page you want to scrape: 5

In [115]:
Iterate()

In [116]:
data = {
    'Brand':Company,
    'Description':Description,
    'Rating':Rating,
    'Price':Price,
    'Discount':Discount
}

In [117]:
Top100Sunglasses = pd.DataFrame.from_dict(data, orient='index')
Top100Sunglasses = Top100Sunglasses.transpose()
Top100Sunglasses.index = Top100Sunglasses.index + 1
Top100Sunglasses.dropna(inplace = True)
Top100Sunglasses = Top100Sunglasses[:100]

In [118]:
Top100Sunglasses.to_csv("Top100Sunglasses.csv", encoding='utf-8', header = 'Top 100 Sunglasses')

### Q7) Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power- adapter/p/itm0f37c2240b217pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

### Task

1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

Please Use this link when asked https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART

In [119]:
Rating = []
Summary = []
Review = []
Reviewa = []

In [120]:
def hasxpath(xpath):
    try:
        driver.find_element_by_xpath(xpath)
        return True
    except:
        return False

In [121]:
def flip():
    url = input("Enter the url for the reviews: ")
    time.sleep(2)
    for i in range(1,15):
        driver.get(url+'&page={}'.format(i))
        time.sleep(10)
        rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        summary = driver.find_elements_by_xpath("//div[@class='row']//p[@class='_2-N8zT']")
        if hasxpath("//span[@class='_1BWGvX']/span") == True:
            btn = driver.find_elements_by_xpath("//span[@class='_1BWGvX']")
            for j in btn:
                j.click()
                time.sleep(5)
                review = driver.find_elements_by_xpath("//div['row']//div[@class='t-ZTKy']/div/div")
            for k in rating:
                Rating.append(k.text)
            for l in summary:
                Summary.append(l.text)
            for m in review:
                Review.append(m.text)

In [122]:
flip()

Enter the url for the reviews: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART

In [123]:
Converted = []

In [124]:
for i in Review:
    Converted.append(i.replace('\n',' '))

In [125]:
Data = {
    'Rating':Rating,
    'Summary': Summary,
    'Review': Converted
}

In [126]:
Top100ReviewsIphone11 = pd.DataFrame.from_dict(Data, orient='index')

In [127]:
Top100ReviewsIphone11 = Top100ReviewsIphone11.transpose()
Top100ReviewsIphone11.index = Top100ReviewsIphone11.index + 1
Top100ReviewsIphone11 = Top100ReviewsIphone11[:100]

In [128]:
Top100ReviewsIphone11.dropna(inplace = True)

In [129]:
Top100ReviewsIphone11.to_csv("Top100ReviewsIphone11.csv", encoding='utf-8', header='Iphone 11 100 Reviews')

### Q8) Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

### Task

### Please enter the url you have on the url bar for Sneakers it is https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off

1. Brand
2. Product Description
3. Price
4. discount %

In [130]:
Company = []
Description = []
Rating = []
Price = []
Discount = []
Link = []

In [131]:
Search()

Please Enter the Product Name: Sneakers

In [132]:
url = driver.current_url

In [133]:
finding()
Iterate()

Please enter the number of page you want to scrape: 6

In [134]:
data = {
    'Brand': Company,
    'Description':Description,
    'Price':Price,
    'Discount':Discount,
    'Rating':Rating
}

In [135]:
Top100Sneakers = pd.DataFrame.from_dict(data, orient = 'index')

In [136]:
Top100Sneakers = Top100Sneakers.transpose()

In [137]:
Top100Sneakers.index = Top100Sneakers.index + 1

In [138]:
Top100Sneakers = Top100Sneakers[:100]

In [139]:
Top100Sneakers.dropna(inplace = True)

In [140]:
Top100Sneakers.to_csv("Top100Sneakers.csv", encoding='utf-8', header='Top 100 Sneakers')

### Go to the link - https://www.myntra.com/shoes
### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

### Task

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [141]:
driver.get("https://www.myntra.com/shoes")

In [142]:
a = driver.find_element_by_xpath("//div[@class='vertical-filters-filters']/ul/li//label[@class='common-customCheckbox']//span[@class='colour-label colour-colorDisplay'][1]")
driver.execute_script("arguments[0].click()", a)
time.sleep(5)

In [143]:
time.sleep(5)

In [144]:
ele = driver.find_element_by_xpath("//div[@class='vertical-filters-filters']/ul/li[2]/label//input[@class='price-input']")
driver.execute_script("arguments[0].click()", ele)

In [145]:
Brand = []
Description = []
Price = []

In [146]:
for i in range(1,7):
    driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p={}&plaEnabled=false&rf=Price%3A6657.0_13105.0_6657.0%20TO%2013105.0".format(i))
    brand = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    description = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    price = driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
    for i in brand:
        Brand.append(i.text)
    for j in description:
        Description.append(j.text)
    for k in price:
        Price.append(k.text)

In [147]:
data = {
    'Brand Name':Brand,
    'Description':Description,
    'Price':Price
}

In [148]:
Top100Shoes = pd.DataFrame.from_dict(data, orient = 'index')
Top100Shoes = Top100Shoes.transpose()
Top100Shoes.index = Top100Shoes.index + 1
Top100Shoes = Top100Shoes[:100]

In [149]:
Top100Shoes.to_csv("Top100Shoes.csv", encoding=  'utf-8', header ='Top 100 Shoes with Filters')

### Q10) Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon.
### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

### Task

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [150]:
driver.get("https://www.amazon.in/")

In [151]:
search = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
Search = input("Please Enter the product name: ")
search.clear()
search.send_keys(Search)
btn = driver.find_element_by_xpath("//div[@class='nav-right']/div/span")
btn.click()

Please Enter the product name: laptop

In [152]:
i5 = driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598162031']/span/a/div")
i5.click()

In [153]:
Name = []
Ratings = []
Price = []

In [154]:
name = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']/h2")
ratings = driver.find_elements_by_xpath("//span[@class='a-size-base']")
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in name:
    Name.append(i.text)
for j in ratings:
    Ratings.append(j.text)
for k in price:
    Price.append(k.text)

In [155]:
data = {
    'Brand':Name,
    'Ratings':Ratings,
    'Price':Price
}

In [156]:
i5Laptop = pd.DataFrame.from_dict(data, orient = 'index')
i5laptop = i5Laptop.transpose()
i5laptop.index = i5laptop.index + 1
Top10i5laptop = i5laptop[:10]

In [157]:
driver.get("https://www.amazon.in/")

In [158]:
search = driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
Search = input("Please Enter the product name: ")
search.clear()
search.send_keys(Search)
btn = driver.find_element_by_xpath("//div[@class='nav-right']/div/span")
btn.click()
time.sleep(5)

Please Enter the product name: Laptop

In [159]:
i7 = driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a/div")
i7.click()

In [160]:
Name = []
Ratings = []
Price = []

In [161]:
name = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']/h2")
ratings = driver.find_elements_by_xpath("//span[@class='a-size-base']")
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in name:
    Name.append(i.text)
for j in ratings:
    Ratings.append(j.text)
for k in price:
    Price.append(k.text)

In [162]:
data = {
    'Brand':Name,
    'Ratings':Ratings,
    'Price':Price
}

In [163]:
i7laptop = pd.DataFrame.from_dict(data, orient = 'index')

In [164]:
i7laptop = i7laptop.transpose()
i7laptop.index =i7laptop.index + 1

In [165]:
Top10i7Laptop = i7laptop[:10]

In [166]:
Top10Laptops = pd.concat([Top10i5laptop, Top10i7Laptop])

In [167]:
Top10Laptops = shuffle(Top10Laptops).reset_index()

In [168]:
Top10Laptops.drop('index', 1, inplace = True)

In [169]:
Top10Laptops = Top10Laptops[:10]

In [170]:
Top10Laptops.index = Top10Laptops.index + 1

In [171]:
Top10Laptops.to_csv("Top10Laptops.csv", encoding = 'utf-8', header='Top 10 Laptops')

In [172]:
driver.quit()